nltk==3.6.6
pandas==0.24.2
matplotlib==2.2.3
tqdm==4.31.1
scipy==1.2.1
numpy==1.21.0
ipython==7.16.3
Pillow==9.3.0
annoy==1.15.2
protobuf==3.7.1
ijson==2.3
joblib==0.13.2
keras==2.2.4
scikit_learn==0.20.3
tensorflow==2.5.3
tensorflow_hub==0.4.0
